<!DOCTYPE html>
</html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Комунальні послуги</title>
  <!-- Каскадні таблиці стилів -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <!-- Навігаційне меню -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Бренд та перемикач головного меню в мобільному варіанті -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Переключити навігацію</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Комунальні послуги</a>
      </div>

      <!-- Всі посилання головного меню -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" id="menu">
          <!-- Формуємо головне меню в залежності від автентифікації користувача -->
          <!-- Якщо користувач є, тобто автентифікований -->
          <% if (user) { %>
            <!-- Та якщо для користувача встановлені права менеджера -->
            <% if (user.manager) { %>
              <li><a href="/manager/users">Користувачі</a></li>
              <li><a href="/manager/orders">Заявки</a></li>
              <li><a href="/manager/types">Типи послуг</a></li>
            <% } else { %> <!-- Якщо немає прав менеджера -->
              <li><a href="/client/me"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=user.name%></a></li>
            <% } %> <!-- Закриття умови щодо менеджера -->
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Вихід</a></li>
          <% } else { %> <!-- Якщо користувач не авторизований -->
            <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Вхід</a></li>
          <% } %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- Основна частина сторінки -->
  <div class="main" role="main">
